/* ------------------------------ */
/* Checkbox                       */
/* ------------------------------ */

input[type=checkbox] {
	-moz-appearance:none;
	appearance:none;
  background-color: var(--input-background);
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

input[type=checkbox]:checked {
  background: url('../../res/icons/light/check.svg') center / 18px;
  background-color: var(--input-background);
}

/* Hover state */

/* Pressed state */

/* Focused state */
input[type=checkbox]:focus {
  box-shadow: 
    0 0 0 2px #0a84ff inset, 
    0 0 0 2px rgba(10, 132, 255, 0.3);
  outline: none;
}

