/* Input */

input[type="text"],
textarea {
  background-color: var(--input-background);
  border: solid 1px var(--input-border-color);
  border-radius: 2px;
  color: var(--page-foreground);
  font-size: 13px;
  line-height: 1.5em;
  min-height: 32px;
  padding: 0 8px;
  vertical-align: top;
}

textarea {
  padding: 4px 8px;
}

/* Hover state */

/* Pressed state */

/* Focused state */
input[type="text"]:focus,
textarea:focus {
  box-shadow:
    0 0 0 2px #0a84ff inset,
    0 0 0 2px rgb(10 132 255 / 30%);
  outline: none;
}
