/* Radio */

input[type="radio"] {
    appearance: none;
    background-color: var(--input-background);
    border: 1px solid var(--input-border-color);
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
}

input[type="radio"]:checked {
    background: url('../../res/icons/light/radio.svg') center / 18px;
    background-color: var(--input-background);
}

/* Hover state */

/* Pressed state */

/* Focused state */
input[type="radio"]:focus {
    box-shadow:
        0 0 0 2px #0a84ff inset,
        0 0 0 2px rgb(10 132 255 / 30%);
    outline: none;
}
