html, body {
	background-color: #FCFCFC;
	min-width: 420px;
	min-height:190px;
}
.panel-section-header .text-section-header {
	color: #00000F;
}
input[type='radio'] {
  -webkit-appearance:none;
  cursor:pointer;
  width:30px;
  height:25px;
  border:1px solid darkgray;
  outline:none;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px #202659 inset;
}

input[type='radio']:before {
  content:'';
  cursor:pointer;
  display:block;
  width:100%;
  height:100%;
}
input[type='radio']:checked:before {
  background: #202659;
}