html, body {
	width:520px;
	min-height:180px;
	height:100%;
	overflow: hidden;
    margin: 0px;
}

.content {
  height: 100%;
  overflow: scroll;
}

.panel-separator-distance{
    margin-top:4px;
    margin-left:-18px;
    margin-right:-18px;
}

.old {
    opacity: .5;
}

#load {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
    background: white;
}

#load:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background: #007BFF;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.question-container {
	display:flex;
}

.vertical-container {
	display:flex;
	flex-direction:column;
}

.question-container label, .vertical-container div {
	flex:1;
}

div.sticky {
    position: sticky;
    top: 0;
    background-color: white;
}

.panel-section-header .text-section-header {
    color: #00000F;
}

.align {
    font-weight:bold;
    font-size:16px;
    margin-left:9px;
    text-align:center;
}

input[type='radio'] {
    -webkit-appearance:none;
    cursor:pointer;
    width:30px;
    height:25px;
    border:1px solid darkgray;
    outline:none;
}

input[type='radio']:hover {
    box-shadow:0 0 5px 0px #202659 inset;
}

input[type='radio']:before {
    content:'';
    cursor:pointer;
    display:block;
    width:100%;
    height:100%;
}

input[type='radio']:checked:before {
    background: #202659;
}

.panel-list-item {
    margin-top:10px;
    margin-bottom:10px;
}

img:active {
    padding:2px;
}

a.active {
    padding:2px;
}

.margin-and-top-distance {
    margin-top:20px;
    margin-left:-10px;
    margin-right:10px;
}

.icon-size-and-distance {
    width:24px;
    height:24px;
    margin-bottom:2px;
    margin-left:10px
}

.refresh-size-and-click {
    width:16px;
    height:16px;
    margin-left:203px;
    margin-top:-8px;
    cursor:pointer;
}

.clear-notifications {
    width:16px;
    height:16px;
    margin-left:58px;
    cursor:pointer;
    margin-top:-8px;
}

.question-settings {
    margin-left:20px;
    margin-top:5px;
    max-width:255px;
    min-width:255px;
    font-size:13px;
}

.distances-empty-box {
    margin-left:60px;
    margin-top:30px;
    margin-bottom:50px;
}

.distances-loading {
    margin-left:222px;
    margin-top:50px;
    margin-bottom:50px;
}

.btn-settings {
    margin-left:36px;
    color:white;
    cursor:pointer;
    font-color:white;
    width:90px;
    font-size:13px;
}

header {
    background-color:white;
    width:100%;
}