:root {
  --magenta-50: #ff1ad9;
  --magenta-60: #ed00b5;
  --magenta-70: #b5007f;
  --magenta-80: #7d004f;
  --magenta-90: #440027;
  --purple-30: #c069ff;
  --purple-40: #ad3bff;
  --purple-50: #9400ff;
  --purple-60: #8000d7;
  --purple-70: #6200a4;
  --purple-80: #440071;
  --purple-90: #25003e;
  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-50-a30: rgb(10 132 255 / 30%);
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --blue-90: #000f40;
  --teal-50: #00feff;
  --teal-60: #00c8d7;
  --teal-70: #008ea4;
  --teal-80: #005a71;
  --teal-90: #002d3e;
  --green-50: #30e60b;
  --green-60: #12bc00;
  --green-70: #058b00;
  --green-80: #006504;
  --green-90: #003706;
  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-70: #a47f00;
  --yellow-80: #715100;
  --yellow-90: #3e2800;
  --red-50: #ff0039;
  --red-60: #d70022;
  --red-70: #a4000f;
  --red-80: #5a0002;
  --red-90: #3e0200;
  --orange-50: #ff9400;
  --orange-60: #d76e00;
  --orange-70: #a44900;
  --orange-80: #712b00;
  --orange-90: #3e1300;
  --grey-10: #f9f9fa;
  --grey-10-a10: rgb(249 249 250 / 10%);
  --grey-10-a20: rgb(249 249 250 / 20%);
  --grey-10-a30: rgb(249 249 250 / 30%);

  /* Missing in Photon doc */
  --grey-10-a40: rgb(249 249 250 / 40%);
  --grey-10-a60: rgb(249 249 250 / 60%);
  --grey-10-a80: rgb(249 249 250 / 80%);
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-70: #38383d;
  --grey-85: #202023;

  /* Missing in Photon doc */
  --grey-80: #2a2a2e;
  --grey-90: #0c0c0d;
  --grey-90-a05: rgb(12 12 13 / 5%);
  --grey-90-a10: rgb(12 12 13 / 10%);
  --grey-90-a20: rgb(12 12 13 / 20%);
  --grey-90-a30: rgb(12 12 13 / 30%);
  --grey-90-a40: rgb(12 12 13 / 40%);
  --grey-90-a50: rgb(12 12 13 / 50%);
  --grey-90-a60: rgb(12 12 13 / 60%);
  --grey-90-a70: rgb(12 12 13 / 70%);
  --grey-90-a80: rgb(12 12 13 / 80%);
  --grey-90-a90: rgb(12 12 13 / 90%);
  --ink-70: #363959;
  --ink-80: #202340;
  --ink-90: #0f1126;
  --white-100: #fff;

  /* Typography */
  --page-font-family: "Ubuntu", "Sergio UI", "San Francesco", sans-serif;
  --page-font-size: 1rem;
}

.theme-light {
  /* Components */
  --button-background: var(--grey-90-a10);
  --button-background-hover: var(--grey-90-a20);
  --button-background-pressed: var(--grey-90-a30);
  --button-background-focus: var(--grey-90-a10);
  --button-foreground: var(--grey-90);
  --button-primary-background: var(--blue-60);
  --button-primary-background-hover: var(--blue-70);
  --button-primary-background-pressed: var(--blue-80);
  --button-primary-foreground: var(--white-100);
  --page-background: var(--grey-10);
  --page-foreground: var(--grey-90);
  --popup-background: var(--white-100);
  --popup-foreground: var(--grey-90);
  --popup-header-border: var(--grey-30);
  --popup-item-border: var(--grey-30);
  --input-background: var(--white-100);
  --input-border-color: var(--grey-90-a20);
  --input-border-color-hover: var(--blue-60);
  --load-background: var(--grey-20);
  --load-foreground: var(--blue-60);
  --select-background: var(--grey-90-a10);
  --select-background-hover: var(--grey-90-a20);
  --select-arrow-image: url('../../res/icons/dark/arrow-down.svg');
  --option-background: var(--white-100);
}

.theme-dark {
  /* Components */
  --button-background: var(--grey-60);
  --button-background-hover: var(--grey-10-a20);
  --button-background-pressed: var(--grey-10-a30);
  --button-background-focus: var(--grey-10-a10);
  --button-foreground: var(--grey-10);
  --button-primary-background: var(--blue-60);
  --button-primary-background-hover: var(--blue-70);
  --button-primary-background-pressed: var(--blue-80);
  --button-primary-foreground: var(--white-100);
  --page-background: var(--grey-80);
  --page-foreground: var(--grey-10);
  --popup-background: var(--grey-60);
  --popup-foreground: var(--grey-10);
  --popup-header-border: var(--grey-70);
  --popup-item-border: var(--grey-70);
  --input-background: var(--grey-85);
  --input-border-color: var(--grey-10-a20);
  --input-border-color-hover: var(--blue-60);
  --load-background: var(--grey-70);
  --load-foreground: var(--blue-60);
  --select-background: var(--grey-60);
  --select-background-hover: var(--grey-10-a20);
  --select-arrow-image: url('../../res/icons/light/arrow-down.svg');
  --option-background: var(--grey-70);
}
